<div id="<%= dom_id city_datum %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cityname:</strong>
    <%= city_datum.cityName %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Seasonalvariation:</strong>
    <%= city_datum.seasonalVariation %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Externalfactors:</strong>
    <%= city_datum.externalFactors %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">createb by : <%= User.find(city_datum.user_id).email %> </strong>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this city datum", city_datum, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this city datum", edit_city_datum_path(city_datum), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
